%h1 Show Event Category

%p
  %b Title:
  = @event_category.title

%p
  %b Short Description:
  = @event_category.short_description

%p
  %b Long Description:
  = @event_category.long_description

= link_to 'Back', admin_event_categories_url